<p id="notice"><%= notice %></p>

<p>
  <h3>Team: <strong><%= @team.name %></strong></h3>
  Description: <strong><%= @team.description %></strong>
  <hr>
  <div class="pair">
    <%= button_to "Match Team?", team_pairs_path(@team.id) %>
  </div>
Members:
  <% @team.members.each do |member| %>
    <li>
      <%= member.name %>
    </li>
    <br/>
  <% end %>



</p>
<%= link_to 'Edit', edit_team_path(@team), class: "button small" %> |
<td><%= link_to 'Destroy', team_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "alert button small" %></td> 
<br>
<hr>
<br>
<%= link_to 'Back', teams_path, class: "button" %>


        