<p id="notice"><%= notice %></p>

<p>
  <h3>Team: <strong><%= @team.name %></strong></h3>
  <h6>Description: </h6><i><%= @team.description %></i>
  <hr>
  <div class="pair">
    <%= button_to "Match Team?", team_pairs_path(@team.id), class: "button alert" %>
    <p><i>This will take a minute...</i></p>
  </div>
Members:
<br>
<br>
  <% @team.members.each do |member| %>
    <li>
      <%= member.name %>
    </li>
    <br/>
  <% end %>


</p>
<%= link_to 'Edit', edit_team_path(@team), class: "button small" %> |
<td><%= link_to 'Destroy', team_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "radius button small", id: "delete" %></td> 
<br>
<hr>
<br>
<%= link_to 'Back', teams_path, class: "button small" %>


        {}