<h1>Digitally Telepathic Peoples</h1>

<%= link_to 'New Member', new_member_path, class: "button radius small" %>
<table>
  <thead>
    <tr>
      <th>Profile</th>
      <th>Email</th>
      <th>Team(s)</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.name, member %></td>
        <td><%= member.email %></td>
        <% if member.teams.count == 0 %>
          <td><%= link_to "Add to Team", member %></td>
        <% else %>
          <% member.teams.all.each do |team| %>
          <td><%= team.name %></td>
        <% end %>
    <% end %>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>