<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Team:</strong>
</p>


<div>
  <%= form_for(@member) do |f| %>
    <%= f.label "Select a Team" %> 
    <% @teams.each do |team|  %>
    <div>
      <%= check_box_tag "member[team_ids][]", team.id, @member.teams.include?(team.id) %>
      <%= team.name %>
    </div>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>

