<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Team(s):</strong>
  <div class="teams">
    <% @member.teams.all.each do |team| %>
      <ul>
        <li><%= team.name %></li>
      </ul>
    <% end %>
  </div>
</p>


<div>
  <%= form_for(@member) do |f| %>
    <% @teams.each do |team|  %>
    <div>
      <%= check_box_tag "member[team_ids][]", team.id, @member.teams.include?(team.id) %>
      <%= team.name %>
    </div>
    <% end %>
    <%= f.submit "Update Teams", class: "button small round" %>
  <% end %>
</div>

<%= link_to 'Edit', edit_member_path(@member), class: "alert button small" %> |
<%= link_to 'Back', members_path, class: "button small" %> 

